.button {
  background-color: transparent;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  border-radius: var(--border-radius);
/* box-shadow: 2px 2px var(--box-shadow); */
  display: inline-block;
  font: inherit;
  padding: 0.3rem var(--space-xs);
  font-weight: 700;
  text-decoration: none !important;
  text-align: center;
}


 .menu {
  background-color: var(--color-link);
  color: var(--bg-color);
  border: 2px solid var(--color-link);
  font-size: var(--size-step-min-2);
  display: inline-block;
  text-transform: uppercase;
  padding: 0.3rem var(--space-xs);
  font-weight: 700;
}

.menu:hover,
.menu[aria-current='page'],
.menu[aria-pressed='true'] {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--color-link);
} 

.button:hover,
.button[aria-current='page'],
.button[aria-pressed='true'] {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--color-head);
}

 .button:active {
  transform: scale(99%);
}  

.button:where(:has(svg)) {
  display: inline-block;
  gap: 0.5em;
  align-items: center;
}

.button:where(:has(.visually-hidden)) {
  border-radius: var(--border-radius);
}

/* all buttons have a min size */
.button:where(:not(:has(svg))) {
  text-align: center;
  min-inline-size: 6ch;
}

/* .button:where(:not(:has(.visually-hidden))) {
  padding: var(--button-padding, 0.35em 1em);
} */
