.card {
  background-color: var(--color-card);
  border: 3px solid var(--bg-color-accent);
  color: var(--color-card-text);
  text-wrap: balance;
  padding: var(--space-m-l);
  border-radius: var(--border-radius);
  max-inline-size: unset;
/*  box-shadow: 4px 4px 2px var(--card-shadow); */
}

.card ::selection {
  color: var(--text-color);
  background-color: var(--color-card);
}

.card h2,
.card h3 {
  font-family: var(--font-header);
  font-size: var(--size-step-2);
  font-weight: 700;
}
.card h2 a,
.card h3 a {
  text-decoration: none;
}

.card:hover,
.card:focus-within {
  border: 3px solid var(--color-card-link);
}

/* 'clickable' */

.card:focus-within a:focus {
  outline: none;
}
.card {
  position: relative;
}
.card a:after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.blogcards {
  --gutter: var(--space-l);
}
