.card {
  background-color: var(--color-card);
  color: var(--color-card-text);
  text-wrap: balance;
  padding: var(--space-m-l);
  border-radius: var(--border-radius);
  max-inline-size: unset;
  /* box-shadow: 5px 5px var(--color-head); */
}

.card ::selection {
  color: var(--text-color);
  background-color: var(--color-card);
}

.card h2,
.card h3 {
  font-family: var(--font-base);
  font-size: var(--size-step-2);
  font-weight: 700;
  text-shadow: 1px 1px #050709;
}
.card h2 a,
.card h3 a {
  text-decoration: none !important;
}

.card:hover,
.card:focus-within {
  border: 2px solid var(--color-card-link);
  text-decoration: none !important;
}

/* 'clickable' */

.card:focus-within a:focus {
  outline: none;
}
.card {
  position: relative;
}
.card a:after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-image: none !important;
  text-decoration: none !important;
}

.blogcards {
  --gutter: var(--space-l);
}
