.section > .seperator:first-child {
  transform: rotate(180deg) translateY(-1px);
}

.section__inner {
/* background-image: linear-gradient(
  var(--color-head) 0 9%, 
  var(--bg-color) 9% 10%, 
  var(--color-date) 0% 10%, 
  var(--bg-color) 10% 11%, 
  var(--color-link) 11% 89%, 
  var(--bg-color) 89% 90%, 
  var(--color-date) 90% 100%); */
/*  var(--bg-color) 90% 91%, 
  var(--color-head) 91% 100%); */
  /* background-image: linear-gradient(
  var(--color-head) 0 10%,
  var(--color-link) 10% 90%,
  var(--color-head) 90% 100%); */
 /* color: #ffffff; */
}

.section__inners {
  background: var(--bg-color);
  color: #000000;
}

.section blockquote {
  font-weight: 700;
  line-height: 1;
  font-size: var(--size-step-4);
  letter-spacing: var(--tracking-s);
}

.section :is(h1, h2, h3, blockquote) {
  opacity: 95%;
}
