/* Basic link styling */
.site-nav ul {
  list-style: none;
  margin: 0.5em;
  gap: var(--space-s);
  /*line-height: 0.5em;
  padding-block-end: var(--space-s);*/
}

.site-nav a {
  color: var(--bg-color);
  padding: 0.3rem var(--space-xs);
  text-decoration: none;
  display: inline-block;
  border-radius: var(--border-radius);
  border-color: var(--color-link);
}

/* Change the border-color on :hover and :focus */
.site-nav a:where(:hover, :focus) {
  border-color: var(--color-date);
}

/* Change border-color and color for the active page. data-state='active' if a child is active. */
.site-nav [aria-current='page'],
.site-nav [data-state='active'] {
	color: var(--color-head);
}

@media screen(md) {
  /* Basic link styling */
  .site-nav ul {
  list-style: none;
  gap: var(--space-s);
  /*  padding-block-end: var(--space-s); */
  }

  .site-nav a {
    border-color: var(--color-link);
    text-decoration: none;
    color: var(--bg-color);
    padding: 0.3rem var(--space-xs);
  }

  /* Change the border-color on :hover and :focus */
  .site-nav a:where(:hover, :focus) {
     border-color: var(--color-date);
  	 color: var(--text-color);
  }

  /* Change border-color and color for the active page */
  .site-nav [aria-current='page'],
  .site-nav [data-state='active'] {
  	color: var(--text-color);
  	border-color: var(--color-head);
  }
}