/* always in combination with .button */

.taglist {
  --gutter: var(--space-s-m);
}

.post-tag {
  background-color: var(--color-link);
  color: var(--bg-color);
  border: 2px solid var(--color-link);
  font-size: var(--size-step-min-2);
  text-transform: uppercase;
  padding: 0.2rem var(--space-xs);
  font-weight: 700;
  text-decoration: none !important;
}

.card .post-tag {
  background-color: var(--color-date);
  color: var(--bg-color);
  border: none;
  margin-inline-start: var(--space-s-m);
    text-decoration: none !important;
}

/* layout */

.tags h1 {
  font-size: var(--size-step-4);
}
