.theme-switch h2 {
  font-size: var(--size-step-min-2);
  text-transform: uppercase;
  text-shadow: none !important;
}

.theme-switch .button {
  background-color: var(--color-link);
  color: var(--bg-color);
  border: 2px solid var(--color-link);
  font-size: var(--size-step-min-2);
  text-transform: uppercase;
  padding: 0.3rem 0.625rem;
  font-weight: 700;
}

.theme-switch .button2 {
  border: 2px solid var(--color-date);
/*  border-radius: 50%; */
  font-size: var(--size-step-0);
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
  font-weight: 600;
}

.theme-switch .button:hover,
.button[aria-current='page'],
.button[aria-pressed='true'] {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 2px solid var(--color-link);
  font-size: var(--size-step-min-2);
  text-transform: uppercase;
  padding: 0.3rem 0.625rem;
  font-weight: 700;
}
