---
layout: base
---

    <div class="section__inner flow region"></div>

<!-- <div class="section__inner">
    <div class="wrapper flow region3">
    </div>
    </div> -->
 <!--   {% include 'svg/divider-edgy.svg' %} -->

<article
  class="region wrapper flow prose"
  style="--region-space-top: var(--space-l-xl)"
>
  <h1 style="color: var(--color-head)">{{ title }}</h1>
  {{ content | safe }}
</article>
