---
layout: base
---

<article
  class="region wrapper flow prose"
  style="--region-space-top: var(--space-xl-2xl)"
>
  <h1 style="color: var(--color-head)">{{ title }}</h1>
  {{ content | safe }}
</article>
