---
layout: base
schema: blog
---

<article class="region blog" style="--region-space-top: var(--space-xl-2xl)">
  <div class="wrapper flow prose">
    <h1 style="color: var(--color-head)">{{ title }}</h1>

    <!-- image -->
    {% if image %}{% eleventyImage image, alt or title, null, "eager", "feature" %} {%
    endif %}

    <!-- credit -->
    {% if credit %}
    <p class="feature text-step-min-1">© {{ credit }}</p>
    {% endif %}

    <p class="cluster text-step-min-1" style="--gutter: var(--space-xs-s); color: var(--color-date)">
      <!-- date -->
      {% set definedDate = date %} {% include "components/date.njk" %}</p>
      
<p class="cluster text-step-min-1" style="--gutter: var(--space-xs-s); color: var(--color-date)">
      <!-- tags -->
      {% if tags.length > 1 %} {% for tag in tags %} {% if tag != "posts" %}
      <a class="button post-tag" href="/tags/{{ tags[1] }}">
        {{ tag }}
      </a>
      {% endif %} {% endfor %} {% endif %}
    </p>

    {{ content | safe }}
<!-- <p>    
<div class="postsection">
    <div class="postsection__header">
       <h4 style="color: var(--color-date)">Webmentions</h4>
        <a href="https://indieweb.org/Webmention" class="postsection__info" target="_blank" rel="noopener noreferrer">
             What are webmentions?
        </a>
    </div>

    {%- set webmentionUrl -%}{{ page.url | url | absoluteUrl(site.url) }}{%- endset -%}
    {% include 'partials/webmentions.njk' %}
</div>
</p> -->

  <h4 style="color: var(--color-date)">Other Posts</h4>
    {%- if collections.posts %}
{%- set previousPost = collections.posts | getPreviousCollectionItem %}
{%- set nextPost = collections.posts | getNextCollectionItem %}
{%- if nextPost or previousPost %}
<ul>
	{%- if previousPost %}{% include 'svg/chevrons-right.svg' %} Newer post: <a href="{{ previousPost.url }}">{{ previousPost.data.title }}</a>{% endif %}<br>
	
	{%- if nextPost %}{% include 'svg/chevrons-left.svg' %} Older post: <a href="{{ nextPost.url }}">{{ nextPost.data.title }}</a>{% endif %}
</ul>
{%- endif %}
{%- endif %}

  </div>

  <!--  h-card infos: https://indieweb.org/authorship -->
  <div hidden class="h-entry">
    <a class="u-url" href="{{ page.url | url | absoluteUrl(meta.url) }}">{{ title }}</a>
    <a class="p-name u-url" rel="author" href="{{ meta.url }}">{{ meta.author }}</a>
    <img
      class="u-author h-card"
      src="{{ meta.authorAvatar | url | absoluteUrl(meta.url) }}"
      alt="{{ meta.author }}"
    />
    

  </div>
</article>
