---
layout: base
masonry: true
---

    <div class="section__inner flow region"></div>
<article class="region">
  <div class="wrapper flow">
    <h1 style="color: var(--color-head)">{{ title }}</h1>
    {{ content | safe }}
  </div>
</article>
