---
layout: base
masonry: true
---

<hr style="color: var(--color-link)">
<article class="region">
  <div class="wrapper flow">
    <h1 style="color: var(--color-head)">{{ title }}</h1>
    {{ content | safe }}
  </div>
</article>
