{% set activePage = page.url | url %}

 <footer class="site-foot">
<hr style="color: var(--color-date)">
  <div class="wrapper">
    <div class="site-foot__inner">
      <nav class="site-foot__inner text-step-0" aria-label="{{ meta.navigation.ariaBottom }}">

        {% for item in navigation.bottom %}
        <a class="menu"
          href="{{ item.url }}"
          {{
          helpers.getLinkActiveState(item.url,
          page.url)
          |
          safe
          }}
          >{{ item.text }}</a
        >
        {% endfor %}
      </nav>
      
				<nav class="site-foot__inner" aria-label="{{ meta.navigation.ariaSocial }}">



							<!-- gets the first item from the feed loop set in meta -->
							<a href="{{ meta.blog.feedLinks[0].url }}" rel="alternate" type="{{ meta.blog.feedLinks[0].type }}">
								<span class="visually-hidden">{{ meta.blog.feedLinks[0].title }}</span>
								<div aria-hidden="true">{% include 'svg/rss.svg' %}</div>
							</a>

							{% for key, value in personal.social %}
							{% if value != "" %}
								<!-- regular social networks -->
							<a href="{{ value }}" rel="me">
								<span class="visually-hidden">{{ key | capitalize }}</span>
								<div aria-hidden="true">{% include 'svg/social-' + key + '.svg' %}</div>
							</a>
							{% endif %}

					{% endfor %}
        </nav>  
    </div>
  {% include 'components/theme-switch.njk' %}  
  <div class="text-center"  style="font-size: var(--size-step-5); line-height: 1.0">{% include 'svg/CoffeePowered_02.svg' %} {% include 'svg/IAmNotARobot_02.svg' %}
  </div>
  </div>

</footer>