<a href="#main" class="skip-link">{{ meta.skipContent }}</a>

<header class="wrapper">

  <div class="repel ontop" style="--gap: 0;">
    {% set activePage = page.url | url %}

    {% include "partials/menu.njk" %}
    			<a href="/" class="logo | cluster" {% if activePage === '/' %} aria-current="page" {% endif %}>
		<!--	{% include "svg/chevrons-left.svg" %} -->
			<span style="color: var(--color-head)">{{ meta.siteName }}</span>
		<!--	{% include "svg/chevrons-right.svg" %} -->
			</a>
  </div>
</header>
