<nav id="mainnav" class="site-nav" aria-label="{{ meta.navigation.ariaTop }}">
  <ul class="cluster" style="--gap: 0" role="list">
    {% for item in navigation.top %}
    <li>
      <a
        class="nav"
        href="{{ item.url }}"
        {{
        helpers.getLinkActiveState(item.url,
        page.url)
        |
        safe
        }}
        >{{ item.text }}</a
      >
    </li>
    {% endfor %}
    		<div
		role="region"
		class="theme-switch | cluster mt-xs"
		style="--cluster-horizontal-alignment: center; --gutter: 0.5rem;"
		aria-labelledby="theme-switcher-label theme-switcher-value"
		data-theme-switcher
		hidden
	>

		<!-- <h4 id="theme-switcher-label">{{ meta.themeSwitch.title }}</h4> -->
			<button
				class="button2"
				theme-toggle
			>
				<span id="theme-switcher-value"></span>
			</button>

		</div>
  </ul>
</nav>
