{% if mentions['like-of']|length %}
    <h4>Likes</h4>
    <div class="webmentions--likeboost">
        {%- for like in mentions['like-of'] %}
            <a target="_blank" rel="noopener" href="{{like.author.url}}"><img src="{{like.author.photo}}" title="{{like.author.name}}"></a>
        {% endfor%}
    </div>
{% endif %}

{% if mentions['repost-of']|length %}
    <h4>Repost</h4>
    <div class="webmentions--likeboost">
        {%- for repost in mentions['repost-of'] %}
            <a target="_blank" rel="noopener" href="{{like.author.url}}"><img src="{{like.author.photo}}" title="{{like.author.name}}"></a>
        {% endfor%}
    </div>
{% endif %}

{% if mentions['in-reply-to']|length %}
    <h4>Repost</h4>
    <div class="webmentions--likeboost">
        {%- for reply in mentions['in-reply-to'] %}
            <a target="_blank" rel="noopener" href="{{like.author.url}}"><img src="{{like.author.photo}}" title="{{like.author.name}}"></a>
        {% endfor%}
    </div>
{% endif %}